.table {
  color: black;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.table-header {
  font-weight: 700;
  padding: 5px 0px;
}

.table-cell {
  padding: 5px 0px;
}

.name-cell {
  width: 100px;
}

.description-cell {
  width: 200px;
}
