.field-label > * {
  display: block;
}

.field-label span {
  font-size: 10px;
}

.textarea {
  width: 100%;
}

.single-select {
  background: var(--blue-theme);
  border: 5px solid var(--blue-theme-darker);
  border-radius: var(--border-raidus);
  font-size: 20px;
  appearance: none;
}

.greyed {
  color: grey;
}
