.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}

.nav-item a:visited,
.nav-item a:hover {
  color: var(--text-main-theme);
}
