.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  margin-right: 40px;
}

.nav-item a:visited,
.nav-item a:hover {
  color: var(--white-theme);
}
