.modal-shade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}

.modal-container {
  background: white;
  padding: 20px;
}

.active {
  display: flex;
}

.inactive {
  display: none;
}

input {
  display: block;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 13px;
}
